*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.all-content{
    position: relative;
    max-width: 100%;
}

header{
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 0px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -80px;
    left: 0px;
}

header img{
    height: 53px;
}

header ion-icon{
    font-size: 48px;
    color: #000000;
}

main{
    background-color: #f0ecec;
    height: calc(100vh - 160px);
    width: 100%;
    margin: 80px 0px;
    padding-top: 20px;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

li{
    display: flex;
    align-items: center;
}

.join-left, .public-message, .private-message{
    padding: 0px 4px;
    min-height: 40px;
    margin: 4px 0px;
}

main span{
    color: #AAAAAA;
    margin-right:5px;
}

.name{
    font-weight: 700;
    color: #000000;
}

.join-left{
    background-color: #DCDCDC;
}

.public-message{
    background-color: #FFFFFF;
}

.private-message{
    background-color: #FFDEDE;
}

footer{
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    padding: 0px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -80px;
    left: 0px;
}

footer ion-icon{
    font-size: 26px;
}

footer input{
    height: 30px;
    width: 80%;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: none;
}