*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.all-content{
    position: relative;
    max-width: 100%;
    height: calc(100vh - 160px);
}

header{
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 0px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -80px;
    left: 0px;
}

header img{
    height: 53px;
}

header ion-icon{
    font-size: 48px;
    color: #000000;
}

main{
    background-color: #f0ecec;
    height:100%;
    width: 100%;
    margin: 80px 0px;
    padding-top: 20px;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

li{
    display: flex;
    align-items: center;
}

.join-left, .public-message, .private-message{
    padding: 0px 4px;
    min-height: 40px;
    margin: 4px 0px;
}

main span{
    color: #AAAAAA;
    margin-right:5px;
}

.name{
    font-weight: 700;
    color: #000000;
}

.join-left{
    background-color: #DCDCDC;
}

.public-message{
    background-color: #FFFFFF;
}

.private-message{
    background-color: #FFDEDE;
}

footer{
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    padding: 0px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -80px;
    left: 0px;
}

footer ion-icon{
    font-size: 26px;
}

footer input{
    height: 30px;
    width: 80%;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: none;
}

input:focus {
    outline: none;
}

input::placeholder{
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.input-container p{
    color: #5B5B5B;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
}

.hide{
    display: none;
}

.window{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: -80px;
    left:0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}
.empty-space{
    width: calc(100% - 259px);
    height: 100%;
}

.side-bar{
    background-color: #FFFFFF;
    width: 259px;
    height: 100%;
    padding: 8px;
    overflow: hidden;
    overflow-y: scroll;
}

.side-bar h2{
    margin: 10px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-align: center;
}

.side-bar li{
    margin: 3px 0px;
}

.side-bar div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.icon{
    font-size: 18px;
    margin: 0 5px;
    color: #000000;
}

.check{
    display: none;
    font-size: 12px;
    margin: 0 5px;
    color: #28BB25;
}

.selected{
    display: flex;
}